body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

main {
    flex: 1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.column {
    flex: 1;
    padding: 10px;
    max-width: 30%;
    box-sizing: border-box;
}

.column img {
    max-width: 100%;
    height: auto;
}

.logo {
    display: block;
    margin: 0 auto;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.footer-column {
    flex: 1;
    padding: 10px;
    max-width: 30%;
    box-sizing: border-box;
}

.footer-column a {
    margin: 0 5px;
    display: inline-block;
}

.footer-column a img {
    width: 24px;
    /* Ajusta el tamaño según tus necesidades */
    height: 24px;
    /* Ajusta el tamaño según tus necesidades */
}

@media (max-width: 1024px) {
    .container {
        justify-content: space-between;
    }

    .column {
        max-width: 45%;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    .container,
    .footer-container {
        flex-direction: column;
    }

    .column,
    .footer-column {
        max-width: 100%;
    }
}